@tailwind base;
@tailwind components;
@tailwind utilities;

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

:focus-visible {
  outline: none;
}

html {
  font-size: 16px;
  font-family: monospace;
}

@media only screen and (max-width: 768px) {
  html {
    font-size: 12px;
  }
}
